<div>
  <h1 class="animate__rubberBand">ChatApp</h1>
  <h3 id="userId"></h3>
  <input type="email" name="email" id="chatEmail" placeholder="Ingrese su email" />
  <input type="text" name="" id="chatBox" placeholder="Ingrese un mensaje">
  <button id="chatBoton">Enviar</button>
</div>
<div>
  <p id="parrafoMsj"></p>
</div>