{{!-- <h1>Login</h1>

<main>

	<form method='POST' action='http://localhost:8080/api/sessions/login' id='formLogin'>
		<label for='email'>Email</label>
		<input type='email' name='email' required />

		<label for='password'>Password</label>
		<input type='password' name='password' required />

		<button type='submit'>Log In</button>
	</form>
	<p>Está a un solo paso, regístrese aquí <a href='http://localhost:8080/static/register'>Registrese</a></p>

</main> --}}


<div class="content">
    <div class="ini">
        <h1>{{nombre}}</h1><br><br>
        <p>Bienvenido a nuestra tienda</p>
       
        <p>Acceda a nuestra <a href="/static/products">Lista de Productos</a> para conocer nuestras ofertas</p>
        <p><a href="/static/login">Inicia sesión</a> para poder finalizar la Compra.</p>
    </div>
</div>