<div class="content">
    <div class="ini">
        <h1>{{nombre}}</h1><br><br>
        <p>Gracias por su compra {{user.first_name}}!</p>
        <p class="purchaseResult1"></p>
        <p class="purchaseResult2"></p>
        <p class="purchaseResult3"></p>
        <p>En breve recibirá un email con el detalle de su compra.</p>
        <p>Acceso a <a href="/static/pay-gateway">Métodos de Pago</a> en línea o redes de cobranza.</p>
        <p>Volver al <a href="/static">Inicio</a> de la página.</p>
    </div>
</div>